.book {
  color: $color-gray-2;

  > * {
    cursor: pointer;
  }
  // display: inline-block;

  // book image
  &__img {
    display: inline-block;
    width: 120px;
    height: 150px;
    background-color: $color-primary;
    border-radius: $border-radius-5;
  }

  &__info {
    margin-left: 0.2rem;
  }

  // book title
  &__title {
    font-size: 1.6rem !important;
    margin: 0.5rem 0 0.2rem;
  }

  // book author
  &__author {
    font-size: 1rem; // 0.9rem
    word-spacing: 2px;
    letter-spacing: 0.2px;
  }

  // BOOK PREVIEW
}
