.heading {
  text-transform: uppercase;
  color: $color-tertiary;

  // H1
  &__1 {
    color: $color-dark;
    font-size: 3rem;
    text-transform: capitalize;
  }

  // H2
  &__2 {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: normal;
  }

  // H3
  &__3 {
    font-weight: bold;
    font-size: 1.6rem;
  }

  // H4
  &__4 {
    font-size: 1.3rem; //1.1rem
    font-weight: bold;
    color: $color-gray-2;
    text-transform: capitalize;
  }
}
