// PADDING
.p-s {
  padding: 2rem;
}
.p-m {
  padding: 4rem;
}
.p-b {
  padding: 6rem;
}

// PADDING BOTTOM
.p-b-s {
  padding-bottom: 2rem;
}
.p-b-m {
  padding-bottom: 4rem;
}
.p-b-b {
  padding-bottom: 6rem;
}

// PADDING TOP
.p-t-s {
  padding-top: 2rem;
}
.p-t-m {
  padding-top: 4rem;
}
.p-t-b {
  padding-top: 6rem;
}

// PADDING LEFT
.p-l-s {
  padding-left: 2rem;
}
.p-l-m {
  padding-left: 4rem;
}
.p-l-b {
  padding-left: 6rem;
}

// PADDING RIGHT
.p-r-s {
  padding-right: 2rem;
}
.p-r-m {
  padding-right: 4rem;
}
.p-r-b {
  padding-right: 6rem;
}

// MARGIN
.m-s {
  margin: 2rem;
}
.m-m {
  margin: 4rem;
}
.m-b {
  margin: 6rem;
}

// MARGIN BOTTOM
.m-b-s {
  margin-bottom: 2rem;
}
.m-b-m {
  margin-bottom: 4rem;
}
.m-b-b {
  margin-bottom: 6rem;
}

// MARGIN TOP
.m-t-s {
  margin-top: 2rem;
}
.m-t-m {
  margin-top: 4rem;
}
.m-t-b {
  margin-top: 6rem;
}

// MARGIN LEFT
.m-l-s {
  margin-left: 2rem;
}
.m-l-m {
  margin-left: 4rem;
}
.m-l-b {
  margin-left: 6rem;
}

// MARGIN RIGHT
.m-r-s {
  margin-right: 2rem;
}
.m-r-m {
  margin-right: 4rem;
}
.m-r-b {
  margin-right: 6rem;
}
